<body>
	<h2>ようこそBookersへ！</h2>

	<p class="show-text">
		<strong>Bookers</strong>
		では、様々な書籍に関するあなたの意見や
	</p>

	<p class="show-text">
		印象を共有して交換することができます
	</p>

	<div class="show-text">
		<%= link_to "start", books_path, :style=>"color: black;" %>
	</div>


</body>