/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.thead-text{
  font-weight: bolder;
  text-align: center;
  font-size: 13px;
}

.tbody-text{
	font-size: 13px;
	text-align: left;
	padding: 3px 7px;
    font-weight: lighter;
}

body{
	margin: 33px;
}

p{
	font-size: 13px;
}

h3{
	padding: 5px 0;
	font-size: 17px;
}

.sub-link{
	font-size: 12px;
}

h1{
	padding-bottom: 8px;
	font-size: 25px;
}

.link-text{
	padding-right: 3px;
}

.show-text{
	padding: 0 0 30px 30px;
}

.update-click{
	padding-bottom: 5px;
}

h2{
	padding-bottom: 5px;
}

